body{
	margin: 0;
	padding: 0;
	background-color:#f5f5a5;
}


.main{
	height: 100%;
	width: 80%;
	max-width: 1100px;
	margin: 2rem auto;
	background-image: linear-gradient(to top, #6E00FF 0%, #FF00DC 100% );
	box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.8);
	border-radius: .2rem;
	position: relative;
}

.header{
	width: 100%;
	height:5rem;
	align-content:center;
	vertical-align: center;
	/*border: 2px solid red;*/
}
.banner{
	padding: 5px; 
	width:42%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
.logo{
	display: none;
}
h1{
	font-family: 'Lexend Deca', sans-serif;
	font-size: 3em;
	text-align: center;
	color: aliceblue;
}
.container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	overflow: hidden;
	height: 100%;
}

/* Buttons */
.container .topic{
	width: 90%;
	height: 20%;
	text-align: center;  
	padding: 2rem 2rem;
	margin: 9rem 0;
	font-family: 'Muli', sans-serif;
	color: #f5f5a5;
	/*z-index: 9999;*/
}
.slackimg{
	
	margin-top: 40%;
}
.slackimg img{
	width: 100%;
	height: auto;
	padding-top: 20%;
}
button{
	font-family: 'Muli', sans-serif;
	color: black;
	font-size: 1rem;
	padding: .8rem 2.3rem;
	margin: 0 .1rem;
	border: 0;
	border-radius: 3rem;
	background: #e6e9f0;
	cursor: pointer;
}
button:hover{
	background: black;
	color:#e6e9f0;
}
/*For tablet view*/
@media only screen and (max-width: 800px){
	.slackimg{
		display: none;
	}
	.container{
		grid-template-columns: 1fr;
		background:url('../img/slack container.png');
		background-repeat: space;
		background-size: cover;
		background-position-x: center;
		background-position-y: bottom;
	}
}
@media only screen and (max-width: 450px){
	.container{
		background-image: none;
	}
	.banner{
		display: none;
	}
	.logo{
		display: block;
		padding: 5px; 
		width:22%;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		
	}
	.container .topic{
		padding-top: 1rem;
		margin-top: 0;
	}

}
